In [1]:
#imports 
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import matplotlib.ticker as mtick 
import matplotlib.dates as mdates
from matplotlib.ticker import PercentFormatter, FuncFormatter
%matplotlib inline
import matplotlib.pylab as pylab
params = {'legend.fontsize': 'x-large',
         'axes.labelsize': 'x-large',
         'axes.titlesize':'xx-large',
         'xtick.labelsize':'large',
         'ytick.labelsize':'large'}
pylab.rcParams.update(params)
from cycler import cycler

import seaborn as sns
sns.set()

# environment settings
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)

In [3]:
#read data
calendar = pd.read_csv('/Users/asyagadzhalova/Documents/GitHub/Boston-Airbnb-data/src/data/raw_data/calendar.csv')
listings =  pd.read_csv('/Users/asyagadzhalova/Documents/GitHub/Boston-Airbnb-data/src/data/raw_data/listings.csv')
reviews = pd.read_csv('/Users/asyagadzhalova/Documents/GitHub/Boston-Airbnb-data/src/data/raw_data/reviews.csv')

## Calendar data
Calendar, including listing id and the price and availability for that day

In [4]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB

In [5]:
calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [6]:
calendar.isna().sum()

listing_id         0
date               0
available          0
price         665853
dtype: int64

In [13]:
calendar['date'].min()

'2016-09-06'

In [14]:
calendar['date'].max()

'2017-09-05'

In [15]:
calendar['listing_id'].nunique()

3585

In [16]:
calendar['available'].value_counts()

f    665853
t    643037
Name: available, dtype: int64

In [19]:
calendar[calendar['price'].isna()==True].groupby(['available']).agg({'count'})

          listing_id    date price
               count   count count
available
f             665853  665853     0

In [29]:
#check whether we have values for each listing for every day
check_dates = calendar.groupby(['listing_id']).agg({'date':'count'}).reset_index()
check_dates['date'].value_counts()

365    3584
730       1
Name: date, dtype: int64

In [26]:
#There is one listing with duplicated records 
check_dates[check_dates['date']==730]

      listing_id  date
2727    12898806   730

In [35]:
calendar[calendar['listing_id']==12898806].shape

(365, 4)

In [39]:
calendar[calendar['listing_id']==12898806]

        listing_id        date available    price
748250    12898806  2017-06-15         f      NaN
748251    12898806  2017-06-14         f      NaN
748252    12898806  2017-06-13         f      NaN
748253    12898806  2017-06-12         f      NaN
748254    12898806  2017-06-11         f      NaN
748255    12898806  2017-06-10         f      NaN
748256    12898806  2017-06-09         f      NaN
748257    12898806  2017-06-08         f      NaN
748258    12898806  2017-06-07         f      NaN
748259    12898806  2017-06-06         f      NaN
748260    12898806  2017-06-05         f      NaN
748261    12898806  2017-06-04         f      NaN
748262    12898806  2017-06-03         f      NaN
748263    12898806  2017-06-02         f      NaN
748264    12898806  2017-06-01         f      NaN
748265    12898806  2017-05-31         f      NaN
748266    12898806  2017-05-30         f      NaN
748267    12898806  2017-05-29         f      NaN
748268    12898806  2017-05-28         f      NaN
748269    12898806  2017-05-27         f      NaN
748270    12898806  2017-05-26         f      NaN
748271    12898806  2017-05-25         f      NaN
748272    12898806  2017-05-24         f      NaN
748273    12898806  2017-05-23         f      NaN
748274    12898806  2017-05-22         f      NaN
748275    12898806  2017-05-21         f      NaN
748276    12898806  2017-05-20         f      NaN
748277    12898806  2017-05-19         f      NaN
748278    12898806  2017-05-18         f      NaN
748279    12898806  2017-05-17         f      NaN
748280    12898806  2017-05-16         f      NaN
748281    12898806  2017-05-15         f      NaN
748282    12898806  2017-05-14         f      NaN
748283    12898806  2017-05-13         f      NaN
748284    12898806  2017-05-12         f      NaN
748285    12898806  2017-05-11         f      NaN
748286    12898806  2017-05-10         f      NaN
748287    12898806  2017-05-09         f      NaN
748288    12898806  2017-05-08         f      NaN
748289    12898806  2017-05-07         f      NaN
748290    12898806  2017-05-06         f      NaN
748291    12898806  2017-05-05         f      NaN
748292    12898806  2017-05-04         f      NaN
748293    12898806  2017-05-03         f      NaN
748294    12898806  2017-05-02         f      NaN
748295    12898806  2017-05-01         f      NaN
748296    12898806  2017-04-30         f      NaN
748297    12898806  2017-04-29         f      NaN
748298    12898806  2017-04-28         f      NaN
748299    12898806  2017-04-27         f      NaN
748300    12898806  2017-04-26         f      NaN
748301    12898806  2017-04-25         f      NaN
748302    12898806  2017-04-24         f      NaN
748303    12898806  2017-04-23         f      NaN
748304    12898806  2017-04-22         f      NaN
748305    12898806  2017-04-21         f      NaN
748306    12898806  2017-04-20         f      NaN
748307    12898806  2017-04-19         f      NaN
748308    12898806  2017-04-18         f      NaN
748309    12898806  2017-04-17         f      NaN
748310    12898806  2017-04-16         f      NaN
748311    12898806  2017-04-15         f      NaN
748312    12898806  2017-04-14         f      NaN
748313    12898806  2017-04-13         f      NaN
748314    12898806  2017-04-12         f      NaN
748315    12898806  2017-04-11         f      NaN
748316    12898806  2017-04-10         f      NaN
748317    12898806  2017-04-09         f      NaN
748318    12898806  2017-04-08         f      NaN
748319    12898806  2017-04-07         f      NaN
748320    12898806  2017-04-06         f      NaN
748321    12898806  2017-04-05         f      NaN
748322    12898806  2017-04-04         f      NaN
748323    12898806  2017-04-03         f      NaN
748324    12898806  2017-04-02         f      NaN
748325    12898806  2017-04-01         f      NaN
748326    12898806  2017-03-31         f      NaN
748327    12898806  2017-03-30         f      NaN
748328    12898806  2017-03-29         f      NaN
748329    12898806  2017-03-28         f      NaN
748330    12898806  2017-03-27         f      NaN
748331    12898806  2017-03-26         f      NaN
748332    12898806  2017-03-25         f      NaN
748333    12898806  2017-03-24         f      NaN
748334    12898806  2017-03-23         f      NaN
748335    12898806  2017-03-22         f      NaN
748336    12898806  2017-03-21         f      NaN
748337    12898806  2017-03-20         f      NaN
748338    12898806  2017-03-19         f      NaN
748339    12898806  2017-03-18         f      NaN
748340    12898806  2017-03-17         f      NaN
748341    12898806  2017-03-16         f      NaN
748342    12898806  2017-03-15         f      NaN
748343    12898806  2017-03-14         f      NaN
748344    12898806  2017-03-13         f      NaN
748345    12898806  2017-03-12         f      NaN
748346    12898806  2017-03-11         f      NaN
748347    12898806  2017-03-10         f      NaN
748348    12898806  2017-03-09         f      NaN
748349    12898806  2017-03-08         f      NaN
748350    12898806  2017-03-07         f      NaN
748351    12898806  2017-03-06         f      NaN
748352    12898806  2017-03-05         f      NaN
748353    12898806  2017-03-04         f      NaN
748354    12898806  2017-03-03         f      NaN
748355    12898806  2017-03-02         f      NaN
748356    12898806  2017-03-01         f      NaN
748357    12898806  2017-02-28         f      NaN
748358    12898806  2017-02-27         f      NaN
748359    12898806  2017-02-26         f      NaN
748360    12898806  2017-02-25         f      NaN
748361    12898806  2017-02-24         f      NaN
748362    12898806  2017-02-23         f      NaN
748363    12898806  2017-02-22         f      NaN
748364    12898806  2017-02-21         f      NaN
748365    12898806  2017-02-20         f      NaN
748366    12898806  2017-02-19         f      NaN
748367    12898806  2017-02-18         f      NaN
748368    12898806  2017-02-17         f      NaN
748369    12898806  2017-02-16         f      NaN
748370    12898806  2017-02-15         f      NaN
748371    12898806  2017-02-14         f      NaN
748372    12898806  2017-02-13         f      NaN
748373    12898806  2017-02-12         f      NaN
748374    12898806  2017-02-11         f      NaN
748375    12898806  2017-02-10         f      NaN
748376    12898806  2017-02-09         f      NaN
748377    12898806  2017-02-08         f      NaN
748378    12898806  2017-02-07         f      NaN
748379    12898806  2017-02-06         f      NaN
748380    12898806  2017-02-05         f      NaN
748381    12898806  2017-02-04         f      NaN
748382    12898806  2017-02-03         f      NaN
748383    12898806  2017-02-02         f      NaN
748384    12898806  2017-02-01         f      NaN
748385    12898806  2017-01-31         f      NaN
748386    12898806  2017-01-30         f      NaN
748387    12898806  2017-01-29         f      NaN
748388    12898806  2017-01-28         f      NaN
748389    12898806  2017-01-27         f      NaN
748390    12898806  2017-01-26         f      NaN
748391    12898806  2017-01-25         f      NaN
748392    12898806  2017-01-24         f      NaN
748393    12898806  2017-01-23         f      NaN
748394    12898806  2017-01-22         f      NaN
748395    12898806  2017-01-21         f      NaN
748396    12898806  2017-01-20         f      NaN
748397    12898806  2017-01-19         f      NaN
748398    12898806  2017-01-18         f      NaN
748399    12898806  2017-01-17         f      NaN
748400    12898806  2017-01-16         f      NaN
748401    12898806  2017-01-15         f      NaN
748402    12898806  2017-01-14         f      NaN
748403    12898806  2017-01-13         f      NaN
748404    12898806  2017-08-18         f      NaN
748405    12898806  2017-08-17         f      NaN
748406    12898806  2017-08-16         f      NaN
748407    12898806  2017-08-15         f      NaN
748408    12898806  2017-08-14         f      NaN
748409    12898806  2017-08-13         f      NaN
748410    12898806  2017-08-12         f      NaN
748411    12898806  2017-08-11         f      NaN
748412    12898806  2017-08-10         f      NaN
748413    12898806  2017-08-09         f      NaN
748414    12898806  2017-08-08         f      NaN
748415    12898806  2017-08-07         f      NaN
748416    12898806  2017-08-06         f      NaN
748417    12898806  2017-08-05         f      NaN
748418    12898806  2017-08-04         f      NaN
748419    12898806  2017-08-03         f      NaN
748420    12898806  2017-08-02         f      NaN
748421    12898806  2017-08-01         f      NaN
748422    12898806  2017-07-31         f      NaN
748423    12898806  2017-07-30         f      NaN
748424    12898806  2017-07-29         f      NaN
748425    12898806  2017-07-28         f      NaN
748426    12898806  2017-07-27         f      NaN
748427    12898806  2017-07-26         f      NaN
748428    12898806  2017-07-25         f      NaN
748429    12898806  2017-07-24         f      NaN
748430    12898806  2017-07-23         f      NaN
748431    12898806  2017-07-22         f      NaN
748432    12898806  2017-07-21         f      NaN
748433    12898806  2017-07-20         f      NaN
748434    12898806  2017-07-19         f      NaN
748435    12898806  2017-07-18         f      NaN
748436    12898806  2017-07-17         f      NaN
748437    12898806  2017-07-16         f      NaN
748438    12898806  2017-07-15         f      NaN
748439    12898806  2017-07-14         f      NaN
748440    12898806  2017-07-13         f      NaN
748441    12898806  2017-07-12         f      NaN
748442    12898806  2017-07-11         f      NaN
748443    12898806  2017-07-10         f      NaN
748444    12898806  2017-07-09         f      NaN
748445    12898806  2017-07-08         f      NaN
748446    12898806  2017-07-07         f      NaN
748447    12898806  2017-07-06         f      NaN
748448    12898806  2017-07-05         f      NaN
748449    12898806  2017-07-04         f      NaN
748450    12898806  2017-07-03         f      NaN
748451    12898806  2017-07-02         f      NaN
748452    12898806  2017-07-01         f      NaN
748453    12898806  2017-06-30         f      NaN
748454    12898806  2017-06-29         f      NaN
748455    12898806  2017-06-28         f      NaN
748456    12898806  2017-06-27         f      NaN
748457    12898806  2017-06-26         f      NaN
748458    12898806  2017-06-25         f      NaN
748459    12898806  2017-06-24         f      NaN
748460    12898806  2017-06-23         f      NaN
748461    12898806  2017-06-22         f      NaN
748462    12898806  2017-06-21         f      NaN
748463    12898806  2017-06-20         f      NaN
748464    12898806  2017-06-19         f      NaN
748465    12898806  2017-06-18         f      NaN
748466    12898806  2017-06-17         f      NaN
748467    12898806  2017-06-16         f      NaN
748497    12898806  2017-09-05         f      NaN
748498    12898806  2017-09-04         f      NaN
748499    12898806  2017-09-03         f      NaN
748500    12898806  2017-09-02         f      NaN
748501    12898806  2017-09-01         f      NaN
748502    12898806  2017-08-31         f      NaN
748503    12898806  2017-08-30         f      NaN
748504    12898806  2017-08-29         f      NaN
748505    12898806  2017-08-28         f      NaN
748506    12898806  2017-08-27         f      NaN
748507    12898806  2017-08-26         f      NaN
748508    12898806  2017-08-25         f      NaN
748509    12898806  2017-08-24         f      NaN
748510    12898806  2017-08-23         f      NaN
748511    12898806  2017-08-22         f      NaN
748512    12898806  2017-08-21         f      NaN
748513    12898806  2017-08-20         f      NaN
748514    12898806  2017-08-19         f      NaN
748640    12898806  2016-12-12         f      NaN
748641    12898806  2016-12-11         f      NaN
748642    12898806  2016-12-10         f      NaN
748643    12898806  2016-12-09         f      NaN
748644    12898806  2016-12-08         f      NaN
748645    12898806  2016-12-07         f      NaN
748646    12898806  2016-12-06         f      NaN
748647    12898806  2016-12-05         f      NaN
748648    12898806  2016-12-04         t  $220.00
748649    12898806  2016-12-03         t  $220.00
748650    12898806  2016-12-02         t  $220.00
748651    12898806  2016-12-01         t  $220.00
748652    12898806  2016-11-30         t  $220.00
748653    12898806  2016-11-29         t  $220.00
748654    12898806  2016-11-28         t  $220.00
748655    12898806  2016-11-27         t  $220.00
748656    12898806  2016-11-26         t  $220.00
748657    12898806  2016-11-25         t  $220.00
748658    12898806  2016-11-24         t  $220.00
748659    12898806  2016-11-23         t  $220.00
748660    12898806  2016-11-22         t  $220.00
748661    12898806  2016-11-21         t  $220.00
748662    12898806  2016-11-20         t  $220.00
748663    12898806  2016-11-19         t  $220.00
748664    12898806  2016-11-18         t  $220.00
748665    12898806  2016-11-17         t  $220.00
748666    12898806  2016-11-16         t  $220.00
748667    12898806  2016-11-15         t  $220.00
748668    12898806  2016-11-14         t  $220.00
748669    12898806  2016-11-13         t  $220.00
748670    12898806  2016-11-12         t  $220.00
748671    12898806  2016-11-11         t  $220.00
748672    12898806  2016-11-10         t  $220.00
748673    12898806  2016-11-09         t  $220.00
748674    12898806  2016-11-08         t  $220.00
748675    12898806  2016-11-07         t  $220.00
748676    12898806  2016-11-06         t  $220.00
748677    12898806  2016-11-05         t  $220.00
748678    12898806  2016-11-04         t  $220.00
748679    12898806  2016-11-03         t  $220.00
748680    12898806  2016-11-02         t  $220.00
748681    12898806  2016-11-01         t  $220.00
748682    12898806  2016-10-31         t  $220.00
748683    12898806  2016-10-30         t  $220.00
748684    12898806  2016-10-29         t  $220.00
748685    12898806  2016-10-28         t  $220.00
748686    12898806  2016-10-27         t  $220.00
748687    12898806  2016-10-26         t  $220.00
748688    12898806  2016-10-25         t  $220.00
748689    12898806  2016-10-24         t  $220.00
748690    12898806  2016-10-23         t  $220.00
748691    12898806  2016-10-22         t  $220.00
748692    12898806  2016-10-21         t  $220.00
748693    12898806  2016-10-20         t  $220.00
748694    12898806  2016-10-19         t  $220.00
748695    12898806  2016-10-18         t  $220.00
748696    12898806  2016-10-17         t  $220.00
748697    12898806  2016-10-16         t  $220.00
748698    12898806  2016-10-15         t  $220.00
748699    12898806  2016-10-14         t  $220.00
748700    12898806  2016-10-13         t  $220.00
748701    12898806  2016-10-12         t  $220.00
748702    12898806  2016-10-11         t  $220.00
748703    12898806  2016-10-10         t  $220.00
748704    12898806  2016-10-09         t  $220.00
748705    12898806  2016-10-08         t  $220.00
748706    12898806  2016-10-07         t  $220.00
748707    12898806  2016-10-06         t  $220.00
748708    12898806  2016-10-05         t  $220.00
748709    12898806  2016-10-04         t  $220.00
748710    12898806  2016-10-03         t  $220.00
748711    12898806  2016-10-02         t  $220.00
748712    12898806  2016-10-01         t  $220.00
748713    12898806  2016-09-30         t  $220.00
748714    12898806  2016-09-29         t  $220.00
748715    12898806  2016-09-28         t  $220.00
748716    12898806  2016-09-27         t  $220.00
748717    12898806  2016-09-26         t  $220.00
748718    12898806  2016-09-25         t  $220.00
748719    12898806  2016-09-24         t  $220.00
748720    12898806  2016-09-23         f      NaN
748721    12898806  2016-09-22         f      NaN
748722    12898806  2016-09-21         f      NaN
748723    12898806  2016-09-20         f      NaN
748724    12898806  2016-09-19         f      NaN
748725    12898806  2016-09-18         f      NaN
748726    12898806  2016-09-17         f      NaN
748727    12898806  2016-09-16         f      NaN
748728    12898806  2016-09-15         f      NaN
748729    12898806  2016-09-14         f      NaN
748730    12898806  2016-09-13         t  $220.00
748731    12898806  2016-09-12         t  $220.00
748732    12898806  2016-09-11         t  $220.00
748733    12898806  2017-01-01         f      NaN
748734    12898806  2016-12-31         f      NaN
748735    12898806  2016-12-30         f      NaN
748736    12898806  2016-12-29         f      NaN
748737    12898806  2016-12-28         f      NaN
748738    12898806  2016-12-27         f      NaN
748739    12898806  2016-12-26         f      NaN
748740    12898806  2016-12-25         f      NaN
748741    12898806  2016-12-24         f      NaN
748742    12898806  2016-12-23         f      NaN
748743    12898806  2016-12-22         f      NaN
748744    12898806  2016-12-21         f      NaN
748745    12898806  2016-12-20         f      NaN
748746    12898806  2016-12-19         f      NaN
748747    12898806  2016-12-18         f      NaN
748748    12898806  2016-12-17         f      NaN
748749    12898806  2016-12-16         f      NaN
748750    12898806  2016-12-15         f      NaN
748751    12898806  2016-12-14         f      NaN
748752    12898806  2016-12-13         f      NaN
748846    12898806  2016-09-10         t  $220.00
748847    12898806  2016-09-09         t  $220.00
748848    12898806  2016-09-08         t  $220.00
748849    12898806  2016-09-07         t  $220.00
748850    12898806  2016-09-06         t  $220.00
748874    12898806  2017-01-12         f      NaN
748875    12898806  2017-01-11         f      NaN
748876    12898806  2017-01-10         f      NaN
748877    12898806  2017-01-09         f      NaN
748878    12898806  2017-01-08         f      NaN
748879    12898806  2017-01-07         f      NaN
748880    12898806  2017-01-06         f      NaN
748881    12898806  2017-01-05         f      NaN
748882    12898806  2017-01-04         f      NaN
748883    12898806  2017-01-03         f      NaN
748884    12898806  2017-01-02         f      NaN

In [30]:
calendar.drop_duplicates(subset = ['listing_id','date'],inplace=True)

In [34]:
calendar.shape

(1308525, 4)

We have a dataset for 1 year /12 months/ daily data for 3585 listings, with price for the available listings. Those that were not available, do not have a price

In [36]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [41]:
listings[listings['id']==12898806]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
2050,12898806,https://www.airbnb.com/rooms/12898806,20160906204935,2016-09-07,"Longfellow Place, Lux 1 Bd West End/Beacon Hill",Close to the Boston Waterfront. Walk along wel...,NaN,Close to the Boston Waterfront. Walk along wel...,none,NaN,***THIS BUILDING IS STRICTLY NON SMOKING***,NaN,NaN,NaN,-Building management requires each new guest c...,https://a2.muscache.com/im/pictures/01c95255-1...,https://a2.muscache.com/im/pictures/01c95255-1...,https://a2.muscache.com/im/pictures/01c95255-1...,https://a2.muscache.com/im/pictures/01c95255-1...,22541573,https://www.airbnb.com/users/show/22541573,Ken,2014-10-14,"New York, New York, United States","I work for Furnished Quarters, the largest pro...",within an hour,100%,69%,f,https://a2.muscache.com/im/pictures/028ba7ae-1...,https://a2.muscache.com/im/pictures/028ba7ae-1...,Upper East Side,122,122,"['email', 'phone', 'reviews', 'jumio', 'kba']",t,t,"Longfellow Place, Boston, MA 02114, United States",West End,Downtown,NaN,Boston,MA,02114,Boston,"Boston, MA",US,United States,42.364517,-71.063561,t,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$220.00,NaN,NaN,NaN,NaN,1,$0.00,10,1125,a week ago,NaN,20,50,80,80,2016-09-06,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,moderate,f,f,13,NaN

1. What drives the prices of the AirBNB in Boston? Which are the top 10 factors that define the price?
2. What drives the occupancies of the AirBNBs in Boston? Which are more engaged than others? We need to calculate the occupancy metrics per week/per month, to understand how the diff IDs perform.
3. What drives the overall score and satisfaction of the AiRBNBs? /listings with reviews - to scrape the reviews to understand what is valued most/criticised most/.

In [9]:
listings.isna().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                   0
summary                              143
space                               1057
description                            0
experiences_offered                    0
neighborhood_overview               1415
notes                               1975
transit                             1290
access                              1489
interaction                         1554
house_rules                         1192
thumbnail_url                        599
medium_url                           599
picture_url                            0
xl_picture_url                       599
host_id                                0
host_url                               0
host_name                              0
host_since                             0
host_location                         11
host_about                          1309
host_response_time                   471
host_response_rate                   471
host_acceptance_rate                 471
host_is_superhost                      0
host_thumbnail_url                     0
host_picture_url                       0
host_neighbourhood                   339
host_listings_count                    0
host_total_listings_count              0
host_verifications                     0
host_has_profile_pic                   0
host_identity_verified                 0
street                                 0
neighbourhood                        543
neighbourhood_cleansed                 0
neighbourhood_group_cleansed        3585
city                                   2
state                                  0
zipcode                               38
market                                14
smart_location                         0
country_code                           0
country                                0
latitude                               0
longitude                              0
is_location_exact                      0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
amenities                              0
square_feet                         3529
price                                  0
weekly_price                        2693
monthly_price                       2697
security_deposit                    2243
cleaning_fee                        1107
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                    3585
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
calendar_last_scraped                  0
number_of_reviews                      0
first_review                         756
last_review                          756
review_scores_rating                 813
review_scores_accuracy               823
review_scores_cleanliness            818
review_scores_checkin                820
review_scores_communication          818
review_scores_location               822
review_scores_value                  821
requires_license                       0
license                             3585
jurisdiction_names                  3585
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                    756
dtype: int64

In [10]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [38]:
reviews['listing_id'].nunique()

2829

In [12]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  object
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB